/* I did this so that the canvas can fit the window */

html {
    box-sizing: border-box;
    background-color: #0a192f;
    font-family: Ubuntu;
    scroll-behavior: smooth;
    overflow: hidden;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden
}


/* If I ever need a scrollbar */

 ::-webkit-scrollbar {
    background-color: #1a1a1a;
}

 ::-webkit-scrollbar-button {
    background-color: #1a1a1a;
}

 ::-webkit-scrollbar-track {
    background-color: #1a1a1a;
}

 ::-webkit-scrollbar-corner {
    background-color: #1a1a1a
}

 ::-webkit-scrollbar-thumb {
    background-color: #fe3fb3;
}


/* Main Content */

.frame {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    line-height: 0;
}

#intro_tease {
    color: #fe3fb3;
    text-decoration: italic;
}

#intro {
    color: white;
    text-decoration: solid;
}

#txt {
    background: #8892b0;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#cv_button:hover {
    background-color: #fe3fb3;
    color: white;
    text-decoration: wavy;
}

#editor {
    font-family: Ubuntu;
    padding: .5em;
    background: #0a192f;
    color: white;
    width: 50%;
}

.canvas_holder {
    width: 50%;
    line-height: 0;
}

#title_for_small {
    display: none;
    color: white;
}

#interact_sign {
    color: #fe3fb3;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .frame {
        /*flex-direction: column;*/
        width: 90%;
        height: 50%;
        margin: 0 auto;
    }
    #editor {
        width: 100%;
    }
    .canvas_holder {
        width: 100%;
    }
}

@media screen and (max-width: 660px) {
    #intro_tease {
        margin-top: 20px;
    }
    #title_for_small {
        display: block;
    }
    ul {
        display: none;
    }
    #navbar {
        margin-bottom: 15px;
    }
}

canvas {
    width: 100%;
    height: 350px;
}


/*navbar*/

#navbar {
    font-family: Ubuntu;
    top: 0;
    right: 0;
    text-align: left;
    margin-top: 5px;
}

#navlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0a192f;
}

#navlist {
    float: left;
    background-color: #0a192f
}

.nav_link {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    background-color: #0a192f
}

#logo {
    width: 200px;
    height: 200px;
}

.nav_link2 {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    float: left;
    color: #fe3fb3;
    height: 52px;
    margin-left: 15px;
}

.refresh_logo {
    width: 200px;
}

#list_num {
    color: #fe3fb3;
}

#list_writing {
    color: #ccd6f6
}

#nav_links1:hover #list_writing {
    color: #fe3fb3;
    transition-timing-function: ease-in;
    transition-delay: 0.05s;
}


/* Side Panels */

#vl {
    border-left: 2px solid #fe3fb3;
    height: 100%;
    margin: 0 auto;
}

#left {
    position: fixed;
    height: 100%;
}


/* Side Panels - Right */

#right {
    position: fixed;
    height: 100%;
}

#vl2 {
    border-left: 2px solid #fe3fb3;
    height: 100%;
    margin: 0 auto;
}


/* Side Panels -Responsive */

@media screen and (max-width: 660px) {
    #right {
        display: none;
    }
    #left {
        display: none;
    }
}
