:root {
    --main: #ffcc33;
    --bg: #161617;
    --txt: #ffffff;
    --secondarytxt: #ccd6f6;
}

html {
    box-sizing: border-box;
    background-color: var(--bg);
    font-family: Ubuntu;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden
}


/*settings for each page*/

.page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.box {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-color: var(--secondarytxt);
    border-radius: 10px;
    margin-top: 60px;
}

#yellow_gradient {
    width: 100%;
    height: 90px;
    display: flex;
    background: rgb(255, 204, 51);
    background: linear-gradient(180deg, rgba(255, 204, 51, 1) 0%, rgba(22, 22, 23, 1) 64%);
}


/*Canvas stuff*/

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /*border-radius: 50%;*/
    top: 4px;
    left: 4px;
}

#canvas_holder {
    display: flex;
    width: 80%;
    height: 200px;
    line-height: 0;
    /*border-radius: 50%;*/
    position: relative;
    /*border: 1px solid white;*/
    margin: 0 auto;
    margin-bottom: 20px;
}


/*information*/

.information {
    color: var(--txt);
    font-family: Ubuntu;
    margin-left: 30px;
    margin-right: 120px;
    display: flex;
    flex-direction: column;
}

.intro {
    color: var(--main);
    margin-bottom: 5px;
    font-size: 15px;
}

.name {
    color: var(--txt);
    margin-bottom: 5px;
    font-size: 30px;
}

.description {
    color: var(--secondarytxt);
    font-size: 13px;
}

.links {
    display: flex;
    margin-left: 30px;
    margin-top: 50px;
    height: 30px;
}

.cv_button_holder {
    height: 30px;
}

#cv_button {
    display: flex;
    text-align: center;
    margin: 0 auto;
    font-family: Ubuntu;
    font-size: 12px;
    height: 100%;
    width: 120px;
    color: var(--txt);
    padding-top: 4px;
    padding-left: 36px;
}

.socials {
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    margin-top: 5px;
}

.f1_title {
    color: var(--txt);
    font-family: ubuntu;
    font-size: 30px;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.f1_title_text {
    display: flex;
    margin-left: 20px;
    color: var(--main);
}

.f1_logo_pic {
    background-color: var(--bg);
    height: 35px;
    margin-left: 10px;
    display: flex;
}

.f1_description {
    color: var(--txt);
    font-family: Ubuntu;
    text-align: center;
    margin-top: 15px;
    font-size: 13px;
    height: 200px;
}

.content_button_holder {
    text-align: right;
    padding: 10px;
}

.content_button_next {
    color: var(--txt);
    width: 80px;
    height: 25px;
    border: 1px solid;
    border-color: var(--main);
    border-radius: 5px;
}

.content_button_previous {
    margin-right: 10px;
    color: var(--txt);
    width: 80px;
    height: 25px;
    border: 1px solid;
    border-color: var(--main);
    border-radius: 5px;
}

#selection1 {
    display: block;
}

#selection2 {
    display: none;
}


/* Main Content */

.frame {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    line-height: 0;
}


/*Top Section*/

#main_intro {
    display: inline-block;
    position: relative;
    text-align: center;
    color: rgb(64, 11, 124);
}


/*image*/

#intro_image {
    z-index: 100;
    position: relative;
    top: 0px;
    right: 10px;
    width: calc(100% - 100px);
    margin: 0 auto;
}

#image_shadow {
    border: 1px solid white;
    margin: 0 auto;
    position: absolute;
    height: 100%;
    width: calc(100% - 100px);
    top: 20px;
    left: 60px;
}

#intro_image_container {
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
}

#whole_intro {}

#intro_tease {
    color: var(--main);
    text-decoration: italic;
    position: relative;
    margin-bottom: 5px;
}

#intro {
    color: white;
    text-decoration: solid;
    position: relative;
}

#txt {
    background: var(--secondarytxt);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#cv_button:hover {
    background-color: var(--main);
    color: white;
    text-decoration: wavy;
}

#editor {
    font-family: Ubuntu;
    padding: .5em;
    background: var(--bg);
    color: white;
    width: 75%;
}

#title_for_small {
    display: none;
    color: white;
}

#interact_sign {
    color: var(--main);
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .frame {
        /*flex-direction: column;*/
        width: 90%;
        height: 50%;
        margin: 0 auto;
    }
    #editor {
        width: 100%;
    }
}

@media screen and (max-width: 660px) {
    #intro_tease {
        margin-top: 20px;
    }
    #title_for_small {
        display: block;
    }
    ul {
        display: none;
    }
    #navbar {
        margin-bottom: 15px;
    }
}


/*Circle section*/

#circles_holder {
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}


/*First Image*/

#image_holder1 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    line-height: 0;
    position: relative;
    border: 1px solid white;
    margin-bottom: 20px;
    display: inline-block;
}

#rugby1 {
    top: 5px;
    left: 5px;
    width: 190px;
    height: auto;
    border-radius: 50%;
    position: absolute;
    margin: 0 auto;
}


/*Third Image*/

#image_holder2 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    line-height: 0;
    position: relative;
    border: 1px solid white;
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 20px;
}

#rugby2 {
    top: 5px;
    left: 5px;
    width: 190px;
    height: auto;
    border-radius: 50%;
    position: absolute;
    margin: 0 auto;
}


/*Canvas stuff*/

canvas {
    position: absolute;
    width: 192px;
    height: 192px;
    margin: 0 auto;
    border-radius: 50%;
    top: 4px;
    left: 4px;
}

#canvas_holder {
    display: inline-block;
    width: 200px;
    height: 200px;
    line-height: 0;
    border-radius: 50%;
    position: relative;
    border: 1px solid white;
    margin-bottom: 20px;
}


/*f1draft*/

#image_holder3 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    line-height: 0;
    position: relative;
    border: 1px solid white;
    margin-bottom: 20px;
    display: inline-block;
    margin: 0 auto;
}

#f1draft {
    top: 5px;
    left: 5px;
    width: 190px;
    height: auto;
    border-radius: 50%;
    position: absolute;
    margin: 0 auto;
}

@media screen and (max-width: 1100px) {
    #circles_holder {
        display: grid;
        grid-template-columns: 200px 200px;
        grid-row: auto auto;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
}

@media screen and (max-width: 800px) {
    #circles_holder {
        display: flex;
        flex-direction: column;
    }
}


/*navbar*/

#navbar {
    font-family: Ubuntu;
    top: 0;
    right: 0;
    text-align: left;
    margin-top: 5px;
    background-color: var(--bg);
}

#navlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--bg);
}

#navlist {
    float: left;
    background-color: var(--bg);
}

.nav_link {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    background-color: var(--bg);
}

#logo {
    width: 200px;
    height: 200px;
}

.nav_link2 {
    display: block;
    position: fixed;
    text-align: center;
    text-decoration: none;
    float: left;
    color: var(--main);
    height: 52px;
    margin-left: 15px;
    margin-top: 15px;
}

.refresh_logo {
    width: 200px;
}

#list_num {
    color: var(--main);
}

#list_writing {
    color: var(--secondarytxt);
}

#nav_links1:hover #list_writing {
    color: var(--main);
    transition-timing-function: ease-in;
    transition-delay: 0.05s;
}

#about_title {
    color: var(--main)
}


/* Side Panels */

#vl {
    border-left: 2px solid var(--main);
    height: 100%;
    margin: 0 auto;
}

#left {
    position: fixed;
    height: 100%;
}


/* Side Panels - Right */

#right {
    position: fixed;
    height: 90%;
}

#vl2 {
    border-left: 2px solid var(--main);
    height: 90%;
    margin: 0 auto;
}


/* Side Panels -Responsive */

@media screen and (max-width: 770px) {
    #right {
        display: none;
    }
    #left {
        display: none;
    }
}

#email_string {
    writing-mode: vertical-rl;
    color: var(--secondarytxt);
    text-align: center;
    margin: 0 auto;
    bottom: 100px;
}

#links_sm {
    display: none;
}

#small_separator {
    display: none;
}

@media screen and (max-width: 770px) {
    #links_sm {
        margin: 0 auto;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
    }
}


/* Solid border */

hr.solid {
    border-top: 3px solid var(--main);
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
}

@media screen and (max-width: 700px) {
    #wide_baby {
        display: none;
    }
    #small_baby {
        display: block;
    }
    /*Canvas stuff*/
    canvas {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        /*border-radius: 50%;*/
        top: 4px;
        left: 4px;
    }
    #canvas_holder {
        display: flex;
        width: 80%;
        height: 200px;
        line-height: 0;
        /*border-radius: 50%;*/
        position: relative;
        /*border: 1px solid white;*/
        margin: 0 auto;
        margin-bottom: 20px;
        border: none;
    }
}

@media screen and (min-width: 700px) {
    #small_baby {
        display: none;
    }
    #wide_baby {
        display: block;
    }
    /*Canvas stuff*/
    canvas {
        position: absolute;
        width: 192px;
        height: 192px;
        margin: 0 auto;
        border-radius: 50%;
        top: 4px;
        left: 4px;
    }
    #canvas_holder {
        display: inline-block;
        width: 200px;
        height: 200px;
        line-height: 0;
        border-radius: 50%;
        position: relative;
        border: 1px solid white;
        margin-bottom: 20px;
    }
}