.heading{
    text-align:center;
    text-decoration-color: blue;
    background-color:aquamarine;
}


.row {
    display: flex;
    width: 100%;

  }
  
  .row div {
    width: 25%;
  }
  
  .noMargin {
    margin: 0px;
  }
  
  .one {
    background-color:blueviolet;
    padding: 1%;
    border: 15px solid aquamarine;
    color: white;
    font-family:'Courier New', Courier, monospace;

  }

  .background{
    background-color: darkgray;  /* fallback for old browsers */
   
  }
  .text1 {
      text-align: center;
      text-decoration-color: white;
      color: white;
      font-family:'Courier New', Courier, monospace;
    
    
  }