.heading{
    text-align:center;
    color: blue;
    background-color:aquamarine;
    text-align: center;
      text-decoration-color: white;

      font-family:'Courier New', Courier, monospace;
    
}


.row {
    display: flex;
    width: 100%;

  }
  
  .row div {
    width: 22%;
  }
  
  .noMargin {
    margin: 0px;
  }
  
  .one {
    background-color:blueviolet;
    padding: 1%;
    border: 10px solid aquamarine;
    color: white;
    font-family:'Courier New', Courier, monospace;
    border-radius: 25px;
    margin: 5px;

  }

  .background{
    background-color: blueviolet;  /* fallback for old browsers */
   
  }
  .text1 {
      text-align: center;
      text-decoration-color: white;
      color: white;
      font-family:'Courier New', Courier, monospace;
    
    
  }

.acheivements{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    list-style-type: circle;
    
    
}
