.heading{
    text-align:center;
    color: blue;
    background-color:aquamarine;
    text-align: center;
      text-decoration-color: white;

      font-family:'Courier New', Courier, monospace;
    
}


.row {
    display: flex;
    width: 100%;

  }
  
  .row div {
    width: 22%;
  }
  
  .noMargin {
    margin: 0px;
  }
  
  .one {
    background-color:blueviolet;
    padding: 1%;
    border: 10px solid aquamarine;
    color: white;
    font-family:'Courier New', Courier, monospace;
    border-radius: 25px;
    margin: 5px;

  }

  .background{
    background-color: blueviolet;  /* fallback for old browsers */
   
  }
  .text1 {
      text-align: center;
      text-decoration-color: white;
      color: white;
      font-family:'Courier New', Courier, monospace;
    
    
  }

  .arduinoHead{
    color: white;
    font-family:'Courier New', Courier, monospace;
    text-decoration:underline;
  }

  .backdrop2{
    background-color:#696969;

  }

  h2{
    text-align:center;
        color: white;
          font-family: 'Courier New', Courier, monospace;
        text-decoration: underline;
    }
    .achievements{
        color: white;
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
        list-style-type: circle;
         list-style-position: inside;
        
    }
    
    .link{

      background-color:blueviolet;
    padding: 1%;
    border: 10px solid aquamarine;
    color: white;
    font-family:'Courier New', Courier, monospace;
    border-radius: 25px;
    margin: 5px;
    text-decoration: none;
    width: 22%;
    }


    @media only screen and (max-width: 600px){

      .row{
        display:grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
        justify-items:center;
        gap: 5px;
    
        

      }
      .row div{
        

        width: 70%;
       
      }

      .link{
        width: 70%;
      }
      
    }
