/* I did this so that the canvas can fit the window */

html,
body {
    /*overflow: hidden;
    user-select: none;*/
    padding: 0;
    margin: 0;
}

canvas {
    width: 50%;
    height: 50%;
    padding: 0;
}