*{
	background-color: #66a5ad;
	font-family: 'Ubuntu', monospace;;text-align: center;
	align-items: center;
	margin: 0px;
	padding: 0px;
	scroll-behavior: smooth;
	
	}



.parent {

	background-color: #07575B;

	/*splash*/
	position: absolute;
	top: 40%;
	left:50%;
	transform: translate(-50%, -50%);
	

}





header{

	position: fixed;
	z-index: 1;
	left:0;
	top: 0;
	width: 100%;
	height: 100vh;
	transition: 1s;
	background-color: #07575B

}




.logo{
align-items:right;
background-color:#66a5ad;
color:#c4dfe6;
font-family:'Ubuntu';
font-size:100px;
font-weight:700;
margin:33.5px 0px;
text-align:center;
animation-name: example;
animation-duration: 5s;
width: 160px;
height: 120px;
justify-self: end;


position:relative;
display: inline-block;
bottom: -20px;
opacity:0;
}
.info { 
position:relative;
display: inline-block;
background-color: #07575B;
padding: 10px;
bottom: -20px;
opacity:0;



}

.logo.active{
	bottom: 0;
	opacity: 1;
	transition: ease-in-out 0.5s;
}


.info.active{
	bottom: 0;
	opacity: 1;
	transition: ease-in-out 0.5s;
}

.logo.fade{
	bottom: 150px;
	opacity: 0;
	transition: ease-in-out 0.5s;
}

.info.fade{
	bottom: 150px;
	opacity: 0;
	transition: ease-in-out 0.5s;
}




.info_second{
	color:#66a5ad;
	justify-self: start;
	text-align: start;
	background-color: #07575B;
}

h1{
	color: #66a5ad;
	justify-self: start;
		text-align: start;
		background-color: #07575B;
}


.txt{
	color: #C4DFE6;
}

@keyframes example {
  from {background-color: #07575B }
  to {background-color: #66a5ad ;}
}

.projects_section{
	height:1500px;
}



/*about Section*/
.about{
	height: 600px;
}

/*navbar*/
.navbar{
	top: 0;
	right: 0;
	text-align: left;
} 
.navlist{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #07575b;
}

li {
  float: left;
	background-color: #07575b
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
		background-color: #07575b
}

li a:hover {
  background-color: #333333
}

.refresh_logo{
	background-color: #66a5ad
}